@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div id="filter">
        <button id="deletePolygonButton" type="button" onclick="deletePolygon()">Delete Polygon</button>
        <button id="createPoint" type="button" onclick="createPoint()">Create Point</button>
    </div>
    <div id="map"> </div>