@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div id="filter">
    <label for="pointCount">Point Count:</label>
    <input type="text" id="pointCount" name="pointCount">
    <button id="deletePolygonButton" type="button" onclick="deletePolygon()">Delete Polygon</button>
    <button id="createPoint" type="button" onclick="createPoint()">Create Point</button>
</div>
    <div id="map"> </div>